<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ dir }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}: {{ description }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="alternate" type="application/rss+xml" title="Blog of the .Day ({{ lang }})" href="/{{ lang }}/feed.xml">
    {% include "components/head.njk" %}
</head>
<body>
<main>
    {{ content | safe }}
    {% include "components/footer.njk" %}
</main>
</body>
</html>