---
layout: "layouts/rss.njk"
permalink: "/{{ lang }}/feed.xml"
languages:
- en
- es
pagination:
  data: languages
  size: 1
  alias: lang
---
{%- set dates = lang.dates %}
{%- set sites = lang.sites %}